<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<connectionStrings>
	<add name="Gobbi" connectionString="Data Source=EK;Initial Catalog=DBLisderoPROD;User ID=sa; Password=sa;" providerName="System.Data.SqlClient"/>
	<!--<add name="Gobbi" connectionString="Data Source=NATALIA-PC\SQLEXPRESS;Initial Catalog=DBLISDERO;Integrated Security=True;" providerName="System.Data.SqlClient"/>-->
	<!--<add name="Gobbi" connectionString="Data Source=MARIANA\PWIN;Initial Catalog=DBLisdero;User ID=sa; Password=123456;" providerName="System.Data.SqlClient"/>-->

  <!--
	<add name="Gobbi" connectionString="Data Source=SERVERLD;Initial Catalog=DB_LISDERO;Persist Security Info=True;User ID=sa;Password=Estudio$$8piso"
	providerName="System.Data.SqlClient" />
	<add name="Gobbi" connectionString="Data Source=EK;Initial Catalog=DBLisdero;User ID=lisdero; Password=lisdero01;" providerName="System.Data.SqlClient"/>
  	<add name="Gobbi" connectionString="Data Source=EK\GATOMOBILE;Initial Catalog=DB_LISDERO;User ID=sa; Password=123456;"
        providerName="System.Data.SqlClient" />
    <add name="EMACSA_NUCLEOConnectionString" connectionString="Data Source=GASTON-HP\GATOMOBILE;Initial Catalog=DB_LISDERO;Persist Security Info=True;User ID=sa;Password=123456"
        providerName="System.Data.SqlClient" />

  <add name="Gobbi" connectionString="Data Source=SERVERLD;Initial Catalog=DB_LISDERO;User ID=sa; Password=Estudio$$8piso;"
    providerName="System.Data.SqlClient" />
  <add name="EMACSA_NUCLEOConnectionString" connectionString="Data Source=SERVERLD;Initial Catalog=DB_LISDERO;Persist Security Info=True;User ID=sa;Password=Estudio$$8piso"
      providerName="System.Data.SqlClient" />-->
  
</connectionStrings>